<div class="mainBody">
	<!--一席-->
	<section>
		<div class="secondBnnerForDetail" style=" background-image: url(img/zhuanti-img/yixi.jpg);"></div>
	</section>
	<section class="sbw1240 pdt40 cutline">
		<h2>专题集</h2>
	</section>
	<!--content-->
	<section class="sbw1240 pdt40">
		<ul class="mainTopicList clearmb30">
			<li class="mainTopicListCell" ng-repeat="zhuanti in ztnews">
				<div class="topicImg" style="position: relative;">
					<img ng-src="{{zhuanti.bgimg}}" style="position: absolute;" />
					<div class="wordBg"></div>
					<span class="title">{{zhuanti.title}}</span><span class="date">{{zhuanti.date}}</span>
				</div>
				<span class="desc">{{zhuanti.desc}}</span>
				<span class="watchTitle">{{zhuanti.watchTitle}}</span>
				<ul class="mainTopicHeadList clear">
					<li>
						<div class="headBox">
							<img ng-src="{{zhuanti.ximg}}">

						</div>
						<span class="name">{{zhuanti.name}}</span>
					</li>
				</ul>
				<a class="mainTopicListButton" href="#/details/{{zhuanti.id}}">{{zhuanti.xx}}</a>
			</li>
		</ul>
		<div class="weui-panel__ft">
			<a href="" ng-click="ztMore()">
				<div class="weui-cell__bd">查看更多</div>
				<span class="weui-cell__ft"></span>
			</a>
		</div>
	</section>
</div>
<style>
	.clear {
		zoom: 1;
	}
	
	.clear:after {
		content: '';
		display: block;
		clear: both;
	}
	
	div {
		font-family: "微软雅黑";
	}
	
	li {
		list-style: none;
	}
	
	.mainBody {
		position: relative;
	}
	/*一席*/
	
	section {
		display: block;
		clear: both;
	}
	
	.secondBnnerForDetail {
		width: 100%;
		height: 350px;
		max-width: 1240px;
		margin: 0px auto;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		overflow: hidden;
	}
	
	.cutline {
		border-bottom: 1px solid #AAA;
	}
	
	.pdt40 {
		padding: 40px 0px;
	}
	
	.sbw1240 {
		width: 90%;
		max-width: 1240px;
		margin: 0px auto;
	}
	
	h2 {
		font-size: 2.4em;
		line-height: 1em;
		text-align: center;
		display: block;
		clear: both;
		padding-bottom: 20px;
	}
	/*content*/
	
	.mainTopicList {
		width: 100%;
		margin: 0px;
		padding: 0px;
	}
	
	.mb30 {
		margin-bottom: 30px;
	}
	
	.mainTopicListCell {
		width: 100%;
		margin: 5px 0px;
		float: none;
		box-sizing: border-box;
		background-color: #F2F2F2;
		text-align: center;
		box-shadow: 0px 1px 2px #BBB;
		border: 1px solid #FFF;
		/*min-height: 614px;*/
	}
	
	.mainTopicListCell .topicImg {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 260px;
		padding-top: 170px;
		position: relative;
	}
	
	.mainTopicListCell .topicImg img {
		width: 100%;
		height: 260px;
		top: 0px;
		left: 0px;
	}
	
	.mainTopicListCell .topicImg .wordBg {
		position: absolute;
		bottom: 0px;
		background-color: #000;
		opacity: 0.2;
		width: 100%;
		height: 90px;
	}
	
	.mainTopicListCell .topicImg .title {
		display: block;
		width: 100%;
		color: #FFF;
		text-shadow: 0px 1px 2px #333;
		text-align: center;
		font-size: 1.2em;
		line-height: 2em;
		padding: 10px 0px 5px;
		position: relative;
	}
	
	.mainTopicListCell .topicImg .date {
		font-size: 1.1em;
		text-align: center;
		display: block;
		color: #DEDEDE;
		position: relative;
	}
	
	.mainTopicListCell .desc {
		font-size: 1.2em;
		line-height: 1.5em;
		text-align: justify;
		padding: 20px 10px 0px;
		min-height: 110px;
		display: block;
		position: relative;
		overflow: hidden;
		color: #333;
	}
	
	.watchTitle {
		border-top: 1px dashed #DEDEDE;
		display: block;
		font-size: 1.2em;
		text-align: center;
		color: #999;
		width: 80%;
		margin: 0px auto;
		box-sizing: border-box;
		padding: 20px 10px;
	}
	
	.mainTopicHeadList {
		max-width: 360px;
		display: inline-block;
		margin: 0px auto;
	}
	
	.mainTopicHeadList li {
		box-sizing: border-box;
		width: 72px;
		padding: 0px 5px;
		float: left;
		min-height: 58px;
	}
	
	.mainTopicHeadList .headBox {
		border: 2px solid #FFF;
		box-shadow: 0px 1px 2px #666;
		overflow: hidden;
		border-radius: 50%;
		margin: 0px auto;
	}
	
	.mainTopicHeadList .headBox img {
		width: 100%;
		float: left;
	}
	
	.mainTopicHeadList .name {
		width: 100%;
		display: block;
		font-size: 1em;
		line-height: 1.4em;
		height: 2.8em;
		color: #666;
		word-break: break-all;
		padding: 10px 0px;
	}
	
	a.mainTopicListButton {
		width: 100%;
		display: block;
		height: 50px;
		line-height: 50px;
		font-size: 1.4em;
		text-align: center;
		background-color: #F2F2F2;
		border-top: 1px solid #E27D7D;
		color: #E27D7D;
		text-decoration: none;
	}
	
	a.mainTopicListButton:hover {
		background-color: #CC3434;
		color: #fff;
	}
	/*查看更多*/
	.weui-panel__ft{
		width: 100%;
		height: 40px;
		line-height: 40px;
		text-align: center;
		background: #C8C8CD;
		border: #666;
	}
	.weui-panel__ft a{
		color: #fff;
		text-decoration: none;
	}
</style>